.DS_Store
retype.yml
.vscode
.github
.git
.gitignore
.husky
.huskyrc
.npmignore
imgs
README.md
packages/.DS_Store
packages/nakamotojs/test
packages/nakamotojs/ts_src
packages/node/coverage/
packages/node/logs/
packages/node/node_modules/
packages/node/chain-setup/**/**/db-data
packages/node/chain-setup/**/**/blockchain-data
packages/node/.env
packages/node/.DS_Store
packages/node/src
packages/node/test
packages/node/*.log
packages/node/scripts/__pycache__

packages/lib/*.log

packages/chat
packages/components
packages/cra-template
packages/docs
packages/explorer
packages/explorer-vite
packages/ft
packages/ft2
packages/nft
packages/nft-vite
packages/nodejs-template
packages/swap/
packages/TBC*/
packages/vite-template
packages/wallet
packages/wallet-vite
packages/website

.env
Dockerfile
.dockerignore