.App {
  text-align: left;
  margin: 20px;
  line-height: 30px;
}

input[type=string] {
  padding: 5px;
  margin-bottom: 5px;
  font-size: inherit;
  width: 100%;
}

button[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 20px;
  margin: 20px 10px 0 0;
  font-size: inherit;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
}
