* {
  box-sizing: border-box !important;
}

.App {
  text-align: center;
}

.GridBG {
  background-image: url('/Grid/grid-Cell-Sub.svg');
  background-position: right 162px center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 80px;
  position: absolute;
}

.WrapperBox {
  position: relative;
}

.ContentBox {
  position: relative;
  z-index: 1;
}

.ColorWhite {
  color: white;
}

.AboutBox {
  color: white;
  background-color: #002a99;
  padding: 50px;
}

.ExamplesBox {
  padding: 50px;
}

.PricingBox {
  padding: 100px 50px;
  background-color: #0046ff;
  color: white;
  text-align: left;
}

.PricingBox h2 {
  padding: 10px;
}

.TextAlignRight {
  text-align: right;
}

.AboutBoxContent {
  text-align: left;
}

.ExamplesBoxContent {
  text-align: left;
}

.ExamplesBoxContent .MuiButtonBase-root {
  font-size: 1.1vw;
  padding: 0.6vw 1vw;
  min-height: 0px;
}

.ExamplesBoxContent .MuiTabs-root {
  min-height: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigation {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  padding: 0.6vw 1.1vw;
  color: black;
  font-size: 0.9vw;
  font-weight: bold;
  vertical-align: middle;
}

.navigation a:visited,
.navigation a:active,
.navigation a:focus {
  color: black;
}

.header {
  position: fixed;
  z-index: 6;
  background-color: white;
  border-bottom: #dfdfdf 2px solid;
  width: 100%;
  height: 6vw;
}

.docsLink {
  height: 0.66vw;
  width: 1.1vw;
}

.header img {
  margin-left: 6%;
  width: auto;
  height: 3vw;
  margin-top: 1.5vw;
}

.navigation a:visited {
  text-decoration: none;
  margin: 10px 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.color-black {
  color: #000f38;
}

.color-navy-blue {
  color: #002a99;
}

.color-blue {
  color: #0046ff;
}

.color-purple {
  color: #a7bfff;
}

.color-red {
  color: #ff4b00;
}

.color-yellow-dark {
  color: #ffa500;
}

.color-yellow {
  color: #ffcf00;
}

.color-black {
  color: #000f38;
}

.contact-container {
  height: 16.67vw;
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0046ff;
}

.contact-container p {
  margin: 0;
  font-size: 0.8vw;
}

.contact-email-wrapper {
  margin-top: 1% !important;
}

.contact-email-wrapper {
  text-align: left;
}

.contact-email-wrapper p {
  padding-left: 56%;
}

.contact-email-wrapper-first {
  font-size: 1.3vw;
  color: #a7bfff;
}

.contact-email-wrapper-first p {
  font-size: 1.1vw;
}

.contact-email-wrapper-second {
  font-size: 1.1vw;
  color: white;
}

.contact-email-wrapper-second a,
.contact-email-wrapper-second a:active,
.contact-email-wrapper-second a:focus,
.contact-email-wrapper-second a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
}

.social-links {
  display: flex;
  align-items: center;
  color: #a7bfff;
}

.copyright {
  color: #a7bfff;
  display: flex;
  align-items: center;
}

.social-links svg {
  margin: 0.7vw;
  height: 2.8vw;
  width: 2.8vw;
}

.social-links p {
  color: #787878;
  font-size: 14px;
  padding-left: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
