.code-section-container {
  z-index: 1;
  position: absolute;
}

.code-block {
  font-family: 'IBMPlexMono-Regular';
  font-size: 1vw;
  letter-spacing: 0;
  color: #a2a2a2;
  font-weight: lighter;
  margin: 0;
}

.code-yellow {
  color: #ffcf00;
}

.code-dark-yellow {
  color: #ffa500;
  font-weight: bolder;
}

.code-gray {
  color: #a2a2a2;
}

.code-dark-blue {
  color: #002a99;
}

.code-light-blue {
  color: #6b93ff;
}

.code-blue {
  color: #0046ff;
}
