.featuresContainer {
    height: 97.6vw;
    width: 100%;
    position: relative;
}

.feature {
    z-index: 1;
}

.featuresGridWrapper {
    padding: 0 1%;
}

.featuresGridItem {
    padding: 1%;
    height: 16.27vw;
}

.graph-container {
    left: 50%;
    top: 41%;
    height: 59.8%;
    position: absolute;
}

.graph2 {
    z-index: 15;
    max-width: 100%;
    max-height: 100%;
    padding-right: 2%;
    padding-top: 1.2%;

}
