.App {
  line-height: 25px;
}

body {
  margin: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  /* font-size: 1rem; */
  padding: 0.3rem 0.6rem;
}

input,
progress {
  padding: 0.3rem 0.6rem;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}

.col-25 {
  float: left;
  width: 10%;
  margin-top: 0px;
}

.col-75 {
  float: left;
  width: 90%;
  margin-top: 0px;
}
