name: Publish Retype powered website to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches:
      - test-retype

jobs:
  publish:
    name: Publish to retype branch

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: retypeapp/action-build@latest
        with:
          input: packages/docs

      - uses: retypeapp/action-github-pages@latest
        with:
          branch: retype
          update-branch: true
